.App {
  text-align: center;
  min-height: 100vh;
  background-image: url(./assets/images/bg-low-res.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* For QHD/2K displays (2560x1440) */
@media only screen and (min-width: 1920px) {
  .App {
    background-image: url(./assets/images/bg-mid-res.jpg);
  }
}

/* For 4K/UHD displays (3840x2160) */
@media only screen and (min-width: 2560px) {
  .App {
    background-image: url(./assets/images/bg-high-res.jpg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
