body {
  margin: 0;
  font-family: 'Avenir Book', 'Avenir', 'Century Gothic', 'Trebuchet MS', 'Apple SD Gothic Neo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
